@import url('./cabecalho.css');
@import url('./sobre-nos.css');
@import url('./metricas.css');
@import url('./vagas.css');
@import url('./depoimentos.css');
@import url('./formulario.css');
@import url('./rodape.css');


:root{
    --branco: #ffffff;
    --vermelho: #8E2424;
    --cinza-claro: #667085;
    --preto: #101828;
    --fonte-principal: 'Inter', sans-serif;
}



body {
    background-color: var(--branco);
    color: var(--preto);
    height: 100vh;
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
    width: 100%;
}